<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <footer class="bg-dark py-5 text-muted text-center">
      <div class="container">
        <div class="btn-group btn-group-sm my-3" role="group" aria-label="My Footer">
          <button type="button" class="btn btn-secondary"><i class="fa fa-github-alt"></i></button>
          <button type="button" class="btn btn-secondary"><i class="fa fa-google-plus"></i></button>
          <button type="button" class="btn btn-secondary"><i class="fa fa-twitter"></i></button>
          <button type="button" class="btn btn-secondary"><i class="fa fa-snapchat-ghost"></i></button>
        </div>
      <small>
        <p>&copy;L0RJIM 2020</p>
        <p>EcoPocket. &mdash; <em>Todos los derechos reservados.</em></p></small><p><img  style="width:5em;" class="img-fluid rounded-circle" src="assets/imagenes/jaime.png" alt="L0RJIM"></p></div>
    <br><br><br><br>
	</footer>
</html>