<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
  		<app-cabecera></app-cabecera>
  		<app-navegacion class="panel"></app-navegacion>
  		<div class="limiter">
  			EcoPocket, es una aplicación web de gestión económica que, a través de una interfaz amigable, permite a sus usuarios llevar un 
  			registro de su cartera, movimientos e incluso planes económicos, adaptados a varias categorías, como por ejemplo:<br>
			-Fondos de Inversión<br>
			-Forex<br>
			-Gestión del Hogar<br>
			-Apuestas Deportivas<br>
			-Criptomonedas<br><br>
			Cabe destacar que la etimología del nombre EcoPocket, viene de la fusión de las palabras en inglés “Economic” y “Pocket”, 
			que vendría a significar “Cartera Económica”.<br><br>
			EcoPocket no ha sido desarrollada por una empresa, pero bien podría serlo en un futuro, por lo tanto, y para cumplir con las 
			estipulaciones del Real Decreto Ley 5/2018, posee unos límites de confidencialidad, protección de datos.<br>
			Por supuesto, para registrarse tampoco será necesario introducir ningún tipo de información confidencial, simplemente usuario, contraseña y e-mail.<br>
			Por otra parte, aunque esta aplicación está pensada para ser gratuita, su código fuente será privado, dándole seguridad y 
			garantizando la privacidad, como ya se ha mencionado anteriormente. <br>
			EcoPocket, está registrada en la <b>Sede Electrónica de la Oficina Española de Patentes y Marcas (OEPM)</b>, y ha sido desarrollada por un 
			particular, Jaime Gómez.<br><br>
			Contacto: jdsgomezleon@gmail.com
  		</div>
  		<app-footer></app-footer>
	</body>
</html>