/*FONDO DE LA PAGINA*/
html, body { /*web responsive*/
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}
body {
	font-family: sans-serif;
  	overflow: auto; /*web responsive*/
	  width: 100%;
	  min-height: 100vh;
	  background: #018381;
	  background: -webkit-linear-gradient(45deg, #1a1a1a, #018381);
	  background: -o-linear-gradient(45deg, #1a1a1a,#018381);
	  background: -moz-linear-gradient(45deg, #1a1a1a, #018381);
	  background: linear-gradient(45deg, #1a1a1a, #018381);
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
}
/*estos heights son necesarios para que el panel solo ocupe el espacio imprescindible
web responsive*/
	
  @media screen and (min-width: 1030px)   and (max-width: 1366px) { /*portatiles*/
	.panel{
	height: 22%;

	}
	.limiter{
	height: 70%;
		font-size: 15px;
	  }
	}
 @media screen and (min-width: 1370px)  and (max-width: 2000px)  { /*escritorio*/
	
	  .limiter{
		height: 79%;
		font-size: 20px;

	  }
	.panel{
	height: 13%;

	}
 }
.limiter{
  	font-family: JosefinSans-Bold;
  	line-height: 1.2;
  	margin-left: 50px;
  	margin-right: 400px;
 	color: #73ebbd;
}