<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
  		<app-cabecera></app-cabecera>
  		<app-navegacion class="panel"></app-navegacion>
  		<div class="limiter">
  			<div class="row">
		      <div class="columna1">
		        <span class="total"><i>TRAYECTORIA </i><br><br>
		        	<select class="form-control" name="desplegable" placeholder="Intervalo" (change)="onFiltroIntervalo($event)">
				      <option selected>1 semana</option>
				      <option>Todo</option>
				    </select></span>
		      </div>
		      <div class="columna2">
		        <div class="smallBox border border-dark">{{mensaje}}
		        	<div class="chart-wrapper">
					    <canvas baseChart 
					        [datasets]="lineChartData" 
					        [labels]="lineChartLabels" 
					        [options]="lineChartOptions"
					        [colors]="lineChartColors" 
					        [legend]="lineChartLegend" 
					        [chartType]="lineChartType" 
					        [plugins]="lineChartPlugins">
					    </canvas>
					</div>
		        </div>
		      </div>
			</div>
  		</div>
  		<app-footer></app-footer>
	</body>
</html>