/*FONDO DE LA PAGINA*/
html, body { /*web responsive*/
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}
body {
	font-family: sans-serif;
  	overflow: auto; /*web responsive*/
	  width: 100%;
	  min-height: 100vh;
	  background: #018381;
	  background: -webkit-linear-gradient(45deg, #1a1a1a, #018381);
	  background: -o-linear-gradient(45deg, #1a1a1a,#018381);
	  background: -moz-linear-gradient(45deg, #1a1a1a, #018381);
	  background: linear-gradient(45deg, #1a1a1a, #018381);
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
}
	
/*estos heights son necesarios para que el panel solo ocupe el espacio imprescindible
web responsive*/
	
@media screen and (min-width: 1030px)   and (max-width: 1366px) { /*portatiles*/
	.panel{
		height: 22%;
	}
	.smallBox{
		height: 390px;
	}
	.limiter{
		height: 70%;
	  }
		
	.icon-btn[name="alta"] {
	    margin-left: 220px;
	    border-radius: 30px;
	    margin-top: 170px;
	}
	.icon-btn[name="baja"] {
	    margin-left: 600px;
	    border-radius: 30px;
	}
	.total {
    	font-size: 20px;
	}
	.form-control[name="desplegable"] {
    	width: 80%;
	}

	/*OPERACIONES*/
	.fechas{
		margin-left: 300px;
	}
	.literalprofit{
		margin-left: 50px;
	}
}
@media screen and (min-width: 1370px)  and (max-width: 2000px)  { /*escritorio*/
	
	  .limiter{
		height: 79%;
	  }
	  
	.icon-btn[name="alta"] {
	    margin-left: 400px;
	    border-radius:50px;
	    margin-top: 460px;
	}  
	.smallBox{
		height: 700px;
	}
	.icon-btn[name="baja"] {
	    margin-left: 1000px;
	    border-radius: 50px;
	}
	.panel{
		height: 13%;
	}
	
	.form-control[name="desplegable"] {
		width: 40%;
	}
	.total {
    	font-size: 30px;
	}
	
	/*OPERACIONES*/
	.fechas{
		margin-left: 500px;
	}
	.literalprofit{
		margin-left: 100px;
	}
}
.total {
  font-family: Arial Black;
  color: #73ebbd;
  line-height: 1.2;

  display: block;
  margin-left: 50px;
}
.limiter{
  	font-family: JosefinSans-Bold;
  	font-size: 20px;
  	width:100%;
  	line-height: 1.2;
  	margin-left: 50px;
  	margin-right: 100px;
 	color: #73ebbd;
}
.smallBox{
	width: 100%;
	overflow:auto;
	padding-left: 10px;
}
.columna1{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 30.666667%;
    max-width: 30.666667%;
}
.fecha{
	float:right;
}
.columna2{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 68.666667%;
    max-width: 68.666667%;
}
.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn[name="alta"] {
  	color: #fff;
    padding-left: 10px;
}
.icon-btn[name="baja"] {
  	color: #fff;
    padding-left: 10px;
}
/*OPERACIONES*/
#rentabilidad, .literaldividendo, .literaldetalles{
	padding-left: 20px;
}
.literalprofit{
  	color: #fff;
}
.oculto{
	display: none;
}
.textoverde{
  	color: lightgreen;
}
.textoamarillo{
  	color: yellow;
}
.textorojo{
  	color: red;
}