<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
  		<app-cabecera></app-cabecera>
  		<app-navegacion class="panel"></app-navegacion>
  		<div class="limiter">
  			<div class="row">
		      <div class="columna1">
		        <span class="total"><i>MI CARTERA: </i>{{total}} €<br><br>
		  			<select class="form-control" name="desplegable" placeholder="Tipo" (change)="onFiltroTipo($event)">
				      <option>Depósitos</option>
				      <option>Retiros</option>
				      <option selected>Todo</option>
				    </select><br>
		  			<select class="form-control" name="desplegable" placeholder="Intervalo" (change)="onFiltroIntervalo($event)">
				      <option selected>1 día</option>
				      <option>1 semana</option>
				      <option>1 mes</option>
				      <option>Todo</option>
				    </select></span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				    <a class="btn icon-btn btn-success" type="button" name="alta" (click)="onAlta()">
						<i class="fa fa-plus"></i> Añadir
					</a>
		      </div>
		      <div class="columna2">
		        <div class="smallBox border border-dark">{{mensaje}}
		        	<span *ngFor="let dato of dataSource">
				        <h4 class="text-danger">{{dato.Tipo}}<span class="fecha text-dark">Fecha: {{dato.Fecha}}</span></h4>
				        <p>Importe: {{dato.Importe}} EUR</p>
				        <button class="btn btn-secondary mb-5" role="button">{{dato.Plataforma}}</button><br>
				        <a class="btn icon-btn btn-danger" type="button" name="baja" (click)="onBaja($event)">
							<i class="fa fa-close"></i> Eliminar<i style="display:none" id="id">{{dato.ID}}</i>
						</a>
				        <hr>
			        </span>
		        </div>
		      </div>
			</div>
  		</div>
  		<app-footer></app-footer>
	</body>
</html>