<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
  		<app-cabecera></app-cabecera>
  		<app-navegacion class="panel"></app-navegacion>
  		<div class="limiter">
		<div class="cuenta-title">
			Mi Cuenta
		</div>
		<div class="cuenta-datos">
			<b>Nombre: </b>{{nombre}}<br><br><b>Apellidos: </b>{{apellidos}}<br><br><b>Usuario: </b>{{usuario}}<br><br><b>Email: </b>{{email}}<br>
		</div>
	</div>
  		<app-footer></app-footer>
	</body>
</html>