<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body>
		<img border="0" alt="EcoPocket" src="assets/imagenes/logo1.png" width="200" height="112">
		<span class="main">
		  <!-- Another variation with a button -->
		  <span class="input-group" name="buscador">
		    <input type="search" class="form-control" placeholder="Buscar...">
		      <button class="btn btn-secondary" type="button">
		        <i class="fa fa-search"></i>
		      </button>
		  </span>
		</span>
		<span class="cabecera"><b>{{fecha}}</b></span>
		<span class="cabecera">
			<a href="/login" class="btn btn-dark btn-md" type="button">
		       <i  class="fa fa-power-off"></i>
			</a>
		</span>
		
	</body>
</html>