<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="cabecera">
			<h1>Añadir Operación</h1>
		</div>
		<form id="cuerpo" [formGroup]="form">
			<div class="form-group">
			    <label for="form_tipo">Tipo de Operación</label>
				<select class="form-control" id="form_tipo" formControlName="tipo">
					<option value="" [selected]="true == true" disabled class="text-hide">Introduzca tipo de operación...</option>
					<option value="Bonos del Estado">Bonos del Estado</option>
					<option value="Bienes Inmobiliarios">Bienes Inmobiliarios</option>
					<option value="Acciones">Acciones</option>
					<option value="Fondos Mixtos">Fondos Mixtos</option>
					<option value="Fondos Indexados">Fondos Indexados</option>
				</select><span class="error">Campo requerido</span>
			</div>
			<div class="form-group">
			    <label for="form_cantidad">Cantidad Invertida</label>
			    <input type="number" class="form-control" id="form_cantidad" formControlName="cantidad" value="{{cantidad}}" placeholder="Introduzca cantidad"><span class="error">Campo requerido</span>
			</div>
			<div class="form-group">
				<label for="form_empresa">Empresa</label>
				<input type="text" class="form-control" id="form_empresa" formControlName="empresa" value="{{empresa}}" placeholder="Introduzca empresa"><span class="error">Campo requerido</span>
			</div>
			<div class="form-group">
			    <label for="form_fecha">Fecha</label>
			    <input type="date" max='{{fechaActual}}' class="form-control" id="form_fecha" placeholder="Introduzca fecha" formControlName="fecha" value="{{fecha}}"><span class="error">Campo requerido</span>
			</div><br>
			<div class="botonera">
			  <button type="button" class="btn btn-light" (click)="onCancelar()">Cancelar</button>&nbsp;&nbsp;
			  <button type="button" class="btn btn-dark" (click)="onAceptar()">Aceptar</button>
			</div>
			</form>
	</body>
</html>